In [1]:
!pip install palmerpenguins

Collecting palmerpenguins
  Downloading palmerpenguins-0.1.4-py3-none-any.whl.metadata (2.0 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from palmerpenguins) (2.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from palmerpenguins) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas->palmerpenguins) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->palmerpenguins) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas->palmerpenguins) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas->palmerpenguins) (1.16.0)
Downloading palmerpenguins-0.1.4-py3-none-any.whl (17 kB)
Installing collected packages: palmerpenguins
Successfully installed palmerpenguins-0.1.4

In [2]:
import numpy as np
import pandas as pd
from sys import exit
from palmerpenguins import load_penguins
from plotnine import ggplot, aes, geom_point, geom_bar

1. Fill in the necessary code to write a function called `times_seven()`. The function should take a single argument (`x`) and multiply the input by 7.
  + This function should check that the argument is numeric.
  + This function should also excitedly announce (print) *“I love sevens!”* if the argument to the function is a 7.

In [3]:
"abc" / 1

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [8]:
def times_seven(x):

  if pd.isna(pd.to_numeric(x, errors='coerce')):
    exit("Please enter a numeric value")

  if x :
    print("I love sevens!")

  return x * 7

2. Write and run some *unit tests* for your `times_seven` function.  What happens if the input to the function is `[1, 3, 5, 7]`?

In [9]:
times_seven(7)

I love sevens!

49

In [10]:
times_seven("abc")

SystemExit: Please enter a numeric value

In [14]:
times_seven(4.5)

I love sevens!

31.5

In [13]:
times_seven([1, 3, 5, 7])

#if input is the above list, we get an error "ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()"

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

3. Consider the following function:

In [32]:
def add_or_subtract(first_num, second_num = 2, type = "add"):

  if (type == "add"):
    res = first_num + second_num
  elif (type == "subtract"):
    res = first_num - second_num
  else:
    exit("Please choose `add` or `subtract` as the type.")

  return res

**Without running the code**, predict if the following will produce:

a. 1

b. -1

c. 30

d. An error defined by the function `add_or_subtract()`

e. An error defined in a different function, which is called inside the `add_or_subtract()` function

In [ ]:
add_or_subtract(5, 6, type = "subtract") # B

add_or_subtract("orange") # E

add_or_subtract(5, 6, type = "multiply") # D

In [33]:
first = add_or_subtract(5, 6, type = "subtract") #will result in B
first

-1

In [34]:
second = add_or_subtract("orange") # E
second

TypeError: can only concatenate str (not "int") to str

In [35]:
third = add_or_subtract(5, 6, type = "multiply") # D
third

SystemExit: Please choose `add` or `subtract` as the type.

4. Consider the following code:

In [37]:
first_num  = 5
second_num = 3

result = 8

result = add_or_subtract(first_num, second_num = 4)

result_2 = add_or_subtract(first_num)


In your Global Environment, what is the value of...

a. `first_num`

b. `second_num`

c. `result`

d. `result_2`

In [38]:
first_num

5

In [39]:
second_num

3

In [40]:
result

9

In [41]:
result_2

7